/* Sets all elements to zero margins, and zero padding */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets background color of body */
body {
    background-color: #d9dcd6;
}

.header {
    /* Sets header padding to 20 px */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Sets heading 1 as inline block and font size for 48 px */
h1 {
    display: inline-block;
    font-size: 48px;
}

/* Sets part of heding 1 to diferent color */
.seo {
    color: #d9dcd6;
}

/* Sets size, position and font details for navigation */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Sets navigation elements as inline blocks element*/
nav ul li {
    display: inline-block;
    margin-left: 25px;
}


a {
    /* Sets color for anchors*/
    color: #ffffff;
    /*Remove the underline for anchors */
    text-decoration: none;
}

/* Sets position and zise of header image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: center;
}

/* Sets size and position for arcticle element */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.description {
    /* Sets size and position for section elements */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets size of images */
.description img {
    max-height: 200px;
}

/* Sets images on the left side of block */
.float-left {
    float: left;
    margin-right: 25px;
}

.description h2 {
    /* Sets heading 2 margin bottom 20 px */
    margin-bottom: 20px;
    font-size: 36px;
}

/* Sets font size of all paragraphs */
p {
    font-size: 16px;
}

.float-right {
    /* Sets image on the right side of block */
    float: right;
    margin-left: 25px;
}

/* Sets size and position of aside element */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-types {
    margin-bottom: 32px;
    /* Sets color for font of aside element */
    color: #ffffff;
}

h3 {
    margin-bottom: 10px;
    /* Sets text on the center */
    text-align: center;
}

.benefit-types img {
    /* Sets aside images as a block elements */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    /* Sets padding 30 px for footer */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Sets text position to the center */
    text-align: center;
}

/* Sets footer's heading font size */
footer h2 {
    font-size: 20px;
}
